html,
body {
  padding: 0 !important;
  margin: 0 !important;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  overflow-x: hidden;
  overflow-y: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* .ProseMirror-focused > * {
  margin-bottom: 6px !important;
}

.ProseMirror > * {
  margin-bottom: 6px !important;
}

.ProseMirror > h1 {
  margin-top: 0 !important;
}

.ProseMirror > h2 {
  margin-top: 0 !important;
}

.ProseMirror > p {
  font-size: 0.89rem;
  letter-spacing: 0px;
}

.block-menu-trigger {
  display: none !important;
} */

/* width */
::-webkit-scrollbar {
  /* width: 5px; */
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 1rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.icon path {
  fill: rgb(240, 240, 240);
  stroke-width: 0.5px;
  stroke: #fff;
  stroke-dasharray: 1560;
  stroke-dashoffset: 0;
  animation: animate-heart 10s infinite;
}

@keyframes animate-heart {
  0% {
    stroke-dashoffset: 0;
  }
  40% {
    stroke-dashoffset: 1560;
  }
  80% {
    stroke-dashoffset: 3120;
    fill: transparent;
  }
  100% {
    stroke-dashoffset: 3120;
  }
}

@-webkit-keyframes animate-heart {
  0% {
    stroke-dashoffset: 0;
  }
  40% {
    stroke-dashoffset: 1560;
  }
  80% {
    stroke-dashoffset: 3120;
    fill: transparent;
  }
  100% {
    stroke-dashoffset: 3120;
  }
}

::-webkit-calendar-picker-indicator {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" viewBox="0 0 24 24"><path fill="%23bbbbbb" d="M20 3h-1V1h-2v2H7V1H5v2H4c-1.1 0-2 .9-2 2v16c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 18H4V8h16v13z"/></svg>');
}

/* .bc5nci23 {
  border-color: rgb(255, 255, 255, 0.04);
}

.bc5nci4v {
  border-color: rgb(255, 255, 255, 0.04);
}

.bc5nci5u {
  border-color: rgb(255, 255, 255, 0.04);
}

.bc5nci2x {
  border-color: rgb(255, 255, 255, 0.04);
}

.yfzfkjn:disabled {
  background-color: rgb(255, 255, 255, 0.04);
}

.bc5nci4ts {
  background-color: rgb(191, 90, 242, 0.04);
}

.bc5nci4v4 {
  background-color: rgb(255, 255, 255, 0.04);
}

.bc5nci4vc {
  background-color: rgb(255, 255, 255, 0.04);
}

.bc5nci3fm {
  border-color: rgb(255, 255, 255, 0.04);
}

.bc5nci4u0 {
  background-color: rgb(191, 90, 242, 0.03);
  color: rgb(204, 155, 228, 255);
}

.bc5nci54g {
  color: rgb(255, 69, 58, 0.8);
}

.c4pl3je {
  background-color: rgb(255, 69, 58, 0.03);
}

.bc5nci53w {
  color: rgb(48, 209, 88, 0.5);
} */

/* * {
  background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important;
} */

/* get all buttons under class xar-wallet and make them white */

.xar-wallet {
  background-color: rgb(255, 255, 255, 0.2);
  padding: 0 0.5rem;
  color: #000 !important;
}
